body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#items_list {
  margin-left: 20px;
}

#tags_list {
  margin-left: 20px;
  margin-top: 10px;
}

input:focus {
    border: 3px solid #CCFFCC;
}

textarea {
  width: 95%;
}

.student_input {
  padding: 5px;
  margin-left: 20px;
  margin-top: 20px;
}

.profile_info {
  display: table-cell;
  vertical-align: bottom;
  width: 500px;
}

/*#intro {
  text-align: center;
  left: 50%
  margin: 0;
}*/

#items_jumbotron {
  margin: 20px;
  display: inline-block;
}

#add_skill {
  height: 16px;
  float: right;
}

#add_skill_form {
  float: left;
  margin-left: 20px;
  margin-top: 10px;
}

#remove {
  font-size: 10px;
}
